*{margin:0px;
padding:0px;}


body{width:100%;
height:1200px;
border:1 solid #333;
margin:0 auto;

}
.center{width:1400px;
height:800px;
border:1px solid #999;
margin:0 auto;}
.center h1{text-align:center;}
#mapid { height: 600px;
width:100%;
background:#666; }

















